<DOCTYPE html>
    <html>
        <head>
          <style>
            .vorname {
              border: 1px solid black;
            }

            .nachname {

              border: 1px solid black;
            }

           </style>
          
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"
            <title>Login Formular</title>
        </head>
        <body>
          <div class="form">
            <input type="email" class="vorname" id="" placeholder="Vorname">
            <label for="">Vorname</label>
          </div>
          <div class="">
            <input type="" class="nachname" id="" placeholder="Nachname">
            <label for="">Nachname</label>
          </div>
          <div class="">
            <input type="" class="nachname" id="" placeholder="Geburtsdatum">
            <label for="">Geburtsdatum</label>
          </div>
          <div class="">
            <input type="" class="nachname" id="" placeholder="Geburtsort">
            <label for="">Geburtsort</label>
          </div>
        </body>
    </html>
</DOCTYPE>